.mainbar {
	background-color: #f2f2f2;

	width: 50vw;
	height: 75vh;

	border-radius: 15px;
	padding: 15px;
	display: flex;
}

.mainbar-left {
	flex: 0.4;

	display: flex;
	flex-direction: column;
	padding: 15px;
	width: 100%;
}

.left-img {
	flex: 0.3;
	background-size: cover;

	border-radius: 15px;
}

.left-list {
	flex: 0.7;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.left-list > h2 {
	font-family: "Newsreader", serif;
	font-size: 30px;
	padding-bottom: 15px;
	padding-top: 10px;
	border-bottom: 1px solid var(--border-grey);
	margin: 15px 0px;
	color: #37382f;
}
.left-list > h3 {
	color: grey;
	font-size: 12px;
	letter-spacing: 2px;
}

.left-ingredient-list {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	overflow-y: auto;

	/* height: 33vh; */
}
.left-list-item {
	margin-bottom: 5px;
	font-family: "Roboto", sans-serif;
	font-weight: lighter;
}
.mainbar-right {
	flex: 0.6;
	display: flex;
	flex-direction: column;

	width: 100%;
	/* height: 100%; */
	padding: 15px;
	border-left: 1px solid var(--border-grey);
}

.mainbar-right > h2 {
	margin-bottom: 15px;
	padding-bottom: 15px;

	border-bottom: 1px solid var(--border-grey);
	color: #37382f;
	display: flex;
	align-items: center;
}

.menubook-icon {
	margin-right: 15px;
}

.right-instruction-list {
	height: 63vh;
	overflow-y: auto;
}

.mainbar-placeholder {
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
}

.placeholder-main {
	padding-bottom: 5rem;
}
.placeholder-main > h3 {
	padding-top: 2rem;
}

@media (max-width: 900px) {
	.mainbar {
		width: 100%;
		height: 70vh;

		margin-bottom: 20px;
	}
}
