.sidebar {
	background-color: #f2f2f2;

	width: 25vw;
	height: 75vh;

	border-radius: 15px;
	padding: 15px;
}
.sidebar__button {
	margin: 15px !important;
	background-color: #f6412e !important;
	color: #fdfeff !important;
	width: 90% !important;
}
.sidebar__button:hover {
	background-color: #37382f !important;
	color: #fdfeff !important;
}
.sidebar__searchbar {
	padding: 15px;
	padding-bottom: 30px;
	border-bottom: 1px solid var(--border-grey);
}

.searchbar__input {
	width: 100%;
	padding: 15px;
	border-radius: 999px;
	border: none;
	outline-width: 0px;
	height: 100%;
}

.sidebar__search-list {
	padding: 15px;
	display: flex;
	flex-direction: column;

	/* couldnt keep 100% */
	overflow-y: auto;
}
::-webkit-scrollbar {
	display: none;
}

@media (max-width: 900px) {
	.sidebar {
		width: 100%;
		height: 30vh;

		margin-bottom: 20px;
	}
}
